{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "arrow-body-style": "off",
    "import/no-dynamic-require": "off",
    "strict": "off",
    "dot-notation": "off",
    "no-var": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/no-unresolved": "off"
  }
}
